body{
    background-color: black;
    color: red;
    font-family: lato;
}

.val-slider{
    height: 400px;
}

.date-slider{
    height: 50px;
    width: 800px;
    background-image: url(bg.png);
}

.noUi-target{
    background-color: transparent;
    border-radius: 0;
}

.noUi-connect{
    background-color: lightgray;
    opacity: 0.5;
}

.noUi-handle{
    opacity: 0;
}

.controler .noUi-handle{
    opacity: 1;
}

.controler-container{
    position: absolute;
    top: 550px;
    width: 1000px;
    left: 150px;
}

.controler{
    /* background-color: red; */
    margin-top: 1em;
    /* height: 40px; */
}


#overlay{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 999;
    opacity: 0;
    transition: all 4s ease-in-out;
}

#overlay.visible{
    opacity: 1;
}
