body{
    /* position: fixed; */
    width: 100vw;
    margin: 10px;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

.pad{
    width: calc(100vw - 20px);
    height: calc(100vw - 20px);
    //margin: 10px;
    border: solid 1px white;
    border-radius: 50px;
}

.controler-container{
    margin-bottom: 100px;
}
.controler{
    /* transform: scale(0.5); */
    width: calc(100vw - 20px);
}
